
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>aa</th>
        <th>aa</th>
        <th>aa</th>
        <th>aa</th>
        <th>aa</th>
        <th>aa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>a</td>
      </tr>
      <tr>
        <td>a</td>
      </tr>
      <tr>
        <td>a</td>
      </tr>
      <tr>
        <td>a</td>
      </tr>
      <tr>
        <td>a</td>
      </tr>
      <tr>
        <td>a</td>
      </tr>
    </tbody>
  </table>
</div>
